html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: url("/ford_log_left_new.jpeg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* .box {
  background-color: #133c3e;
  height: 200px;
  width: 200px;
} */

.error {
  color: red;
}
